
.custom-hr {
  all: unset;
  display: block;
  height: 2px;
  background-color: #444;
  width: 100%;
}


.hr-top {
  align-self: flex-start;
  margin-top: 0.2rem;
}


.hr-bottom {
  align-self: flex-end;
  margin-bottom: 0.15rem; 
}


.welcome-text {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3; 
  color: #444;
  padding: 0;
  margin: 0;
}


.welcome-container {
  width: 100%;
}


.welcome-inline > div {
  display: flex;
}
